# Python geçici dosyaları
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Sanal Ortam
venv/
env/
.venv/

# Loglar ve Veritabanı
*.log
*.sqlite3

# Todo
Todo
.dockerignore
.env

# Veritabanı ve Önbellek Hacimleri (Eğer lokalde tutuluyorsa)
chroma_cache/
local_chroma_data/
postgres_data/

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db